<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Bienvenido!</h2>
  <p>
    Esperamos que encuentres lo que estas buscando.
    <br>Revisa nuestra lista de agentes especiales.
  </p>
  {{#em-form model=model}}
    {{em-input property="name" label="Nombre completo" placeholder="Ingrese su nombre..."}}
  {{/em-form}}
  
</div>
{{outlet}}
